# Enable exclude_object for adaptive meshing
[exclude_object]

[gcode_macro START_PRINT]
gcode:
 {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
 {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
 # Check bed screws tilting
 #SCREWS_TILT_CALCULATE MAX_DEVIATION=0.04
 # Heat bed for probing
 M190 S{BED_TEMP}
 # Use absolute coordinates
 G90
 # Home the printer
 G28
 # Generating a new bed mesh:
 BED_MESH_CALIBRATE #ADAPTIVE=1
 # Loading an existing mesh:    #BED_MESH_PROFILE LOAD=default
 # Move the nozzle near the bed
 G1 Z5 F3000
 # Set and wait for nozzle to reach printing temperature
 M109 S{EXTRUDER_TEMP}
 # Purging line
 LINE_PURGE
 # Start printing!

[gcode_macro END_PRINT]
gcode:
 # Turn off bed, extruder, and fan
 M140 S0
 M104 S0
 M106 S0
 # Move nozzle away from print while retracting
 G91
 G1 X-2 Y-2 E-3 F300
 # Raise nozzle by 10mm
 G1 Z10 F3000
 G90
 # Disable steppers
 M84

[gcode_macro SCREW_TILT_CHECK]
description: 0.10mm maximum deviation check
gcode:
 G28
 SCREWS_TILT_CALCULATE MAX_DEVIATION=0.025

[gcode_macro AXIS_TWIST_CHECK]
description: Axis Twist Compensation
gcode:
 {% set MESURES = params.MESURES|default(5)|int %}
 G28
 AXIS_TWIST_COMPENSATION_CALIBRATE SAMPLE_COUNT={MESURES}

[gcode_macro Z_OFFSET_CHECK]
description: Probe calibration
gcode:
 G28
 PROBE_CALIBRATE

[gcode_macro BED_SCREWS_CHECK_AUTO]
description: Adjusting bed leveling screws with probe
gcode:
 {% set PRECISION = params.PRECISION|default(0.01)|float %}
 G28
 SCREWS_TILT_CALCULATE MAX_DEVIATION={PRECISION}

[gcode_macro BED_SCREWS_CHECK_MANUAL]
description: Adjusting bed leveling screws with paper test
gcode:
 BED_SCREWS_ADJUST
